@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

:root{
    --primary-color: var(--primary-light-color);
    --primary-dark-color: #1d1d1d;
    --primary-light-color: #EBF0F2;
    --secondary-color: var(--secondary-light-color);
    --secondary-dark-color: #EBF0F2;
    --secondary-light-color: #404040;
    --tertiary-color: var(--tertiary-light-color);
    --tertiary-light-color: #735646;
    --tertiary-dark-color: #A6916A;
    --quaternary-color: var(--quaternary-light-color);
    --quaternary-light-color: #8C7456;
    --quaternary-dark-color: #5E4B32;
    --quinary-color: var(--quinary-light-color);
    --quinary-light-color: #A6916A;
    --quinary-dark-color: #735646;
    --priority-value: 'Medium Priority';
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
    cursor: pointer;
  }

@supports (scrollbar-gutter: stable) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
    ::-webkit-scrollbar-track {
        background: var(--secondary-color);
        border-radius: 10px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: var(--primary-color);
    overflow-x: hidden;
    scrollbar-gutter: stable auto;
}

header{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > *{
    display: flex;
    align-items: center;
}

header > nav > .user-container{
    width: 40rem;
}

header > nav > .user-container > menu #menuBtn{
    display: block;
    position: relative;
    z-index: 4;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    font-family: 'Playwrite CU', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s;
    align-items: center;
}

header > nav > .user-container > .user {
    display: flex;
    z-index: 1;
    padding: 0.2rem;
    margin-left: 1.5rem;
    align-items: center;
    border-radius: 5rem;
    height: 2.5rem;
    overflow: hidden;
    padding-right: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    background: transparent;
    color: var(--secondary-color);
}

header > nav > .user-container > .user > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    justify-content: center;
}

header > nav > .user-container > .sign-slider {
    visibility: hidden;
    position: relative;
    display: flex;
    left: -6rem;
    padding-left: 1rem;
    z-index: 0;
    border-radius: 5rem;
    width: 7rem;
    height: 2.5rem;
    background-color: var(--quaternary-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--quaternary-color);
    outline: none;
    border: none;
    font-size: 1rem;
}

header > nav > .user-container > .user:hover + .sign-slider,
header > nav > .user-container > .sign-slider:hover {
    visibility: visible;
    left: -2rem;
    animation: slideInSignOption 0.6s forwards;
}

@keyframes slideInSignOption {
    from {
        left: -6rem;
    }
    to {
        left: -2rem;
    }
}

header > nav > .user-container > .user:hover,
header > nav > .user-container > .user:has(+.sign-slider:hover){
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: 300;
}

header > nav > .user-container > .sign-slider > a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 300;
}

header > nav > .user-container > .sign-slider:hover{
    background-color: var(--quinary-color);
}


header > nav > .user-container > .sign-slider:hover > a{
    color: var(--tertiary-color);
}

header > nav > .settings{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
}

header > nav > .settings .notificationBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

header > nav > .settings .notificationBtn > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: relative;
    bottom: 0.2rem;
    right: 0.2rem;
    font-size: xx-small;
    background-color: red;
    color: white;
}

header > nav > .settings .notificationBtn:hover{
    background-color: var(--quinary-color);
    color: var(--primary-color);
}

header > nav > .settings .notificationBtn:active{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

header > nav > .settings .notificationBtn:hover > span{
    background-color: var(--tertiary-color);
}

header > nav > .settings > #theme{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

header > nav > .settings > #theme:hover{
    background-color: var(--quaternary-color);
    color: white;
}

header > nav > .settings > #theme:active{
    background-color: var(--tertiary-color);
    color: white;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

#menu-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100%;
    background-color: var(--secondary-color);
    transition: transform 0.3s;
    animation: slideInMenu 0.5s forwards;
    border-right: var(--primary-color) 1px solid;
}

@keyframes slideOut {
    from {
        transform: translateX(20rem);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20rem);
    }
    
}
#menu-window > #logo-container{
    width: 100%;
    height: 4rem;
}

#menu-window > #add-task-window > #add-task-btn{
    display: flex;
    position: static;
    width: 100%;
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    transform: none;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    padding: 0 2rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 100ms;
}

#menu-window > #add-task-window > #add-task-btn > div{
    font-size: 1.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: all 100ms;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
}

#menu-window > #add-task-window > #add-task-btn:hover > div{
    font-size: 1.5rem;
    background-color: transparent;
}

#menu-window > #menu-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    margin-bottom: 0.5rem;
}

#menu-window button{
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    margin: 0.2rem 0.5rem;
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    transition: all 100ms;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#menu-window > #menu-content > button{
    justify-content: start;
    transition: all 0.2s ease-in-out;
}

#menu-window > #menu-content > button > svg{
    padding-left: 5rem;
}

#menu-window > #menu-content > button:hover > p{
    padding: 0 1rem;
}

#menu-window > #menu-content > .selected{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#menu-window > #menu-content > .selected > p{
    padding: 0 1rem;
    font-weight: 600;
}

#menu-window > #menu-content > button > p{
    padding-left: 0.5rem;
}

#menu-window button:hover{
    background-color: var(--tertiary-color);
}

#menu-window button:active{
    background-color: var(--tertiary-color);
    opacity: 0.9;
}

#menu-window > hr{
    width: 85%;
    height: 0.1rem;
    background-color: var(--tertiary-color);
}

#menu-window > #add-task-window{
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 0.5rem;
}

#menu-window > #project-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    flex: 1 1 auto;
    flex-basis: 10rem;
    overflow: hidden;
}

#menu-window > #project-container > #project-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem 0.5rem 0 0;
}

#menu-window > #project-container > #project-btn > p{
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-left: 2rem;
}

#menu-window > #project-container > #project-btn > button{
    color: var(--primary-color);
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
}

#menu-window > #project-container > #project-window{
    flex: 1 1 auto;
    overflow-y: scroll;
    margin-left: 2rem;
}

#menu-window > #project-container > #project-window button{
    padding: 1rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: start;
}

#menu-window > #project-container > #project-window > .selected{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#menu-window > footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    width: 100%;
}

#menu-window > footer a{
    color: var(--primary-color);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 100ms;
    border-radius: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#menu-window > footer button{
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 50%;
    color: var(--primary-color);
    transition: transform 0.3s;
}

#menu-window > footer button:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    transform: rotate(60deg);
}

#menu-window > footer button:active{
    background-color: var(--quaternary-color);
    color: var(--secondary-color);
    transform: rotate(90deg);
}

.notification-window{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background-color: var(--secondary-color);
    transition: transform 0.3s;
    scrollbar-gutter: stable auto;
    border-left: var(--primary-color) 1px solid;
    border-radius: 1rem 0 0 1rem;
}

.add{
    animation: slideOut 0.5s forwards;
    display: block;
}

.remove{
    animation: slideIn 0.5s forwards;
}

.notification-window > .notification-title{
    color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    opacity: 0.6;
    position: relative;
    height: 4rem;
    cursor: default;
}

.notification-window > .notificationClose{
    position: absolute;
    top: 0.65rem;
    left: 16.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    animation: displayNotificationBtn 0.8s ease-in-out;
    z-index: 10;
}

.notification-window > .notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    height: calc(100% - 4.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable auto;
    border-top: 1px solid var(--tertiary-color);
}

.notification-window > .notifications > .notification{
    color: var(--primary-color);
    border-bottom: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 15fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0.2rem 0 0.2rem 0.1rem;
    border-radius: 0 0 1.5rem 0;
    transition: background-color 0.3s;
}

.notification-window > .notifications > .notification:hover{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    cursor: default;
}

.notification-window > .notifications > .notification > .notification-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.notification-window > .notifications > .notification > .notification-delete:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.notification-window > .notifications > .notification > .notification-close{
    align-self: flex-start;
    padding: 0.1rem 0.2rem;
    cursor: pointer;
}

.notification-window > .notifications > .notification > .notification-close:hover{
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

#empty-case-window{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    padding-top: 2rem;
    transition: ease-in-out 1s;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#empty-case-window #info-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 3rem;
    background-color: var(--tertiary-color);
    cursor: pointer;
    transition: opacity 0.1s, box-shadow 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 0.8;
}

.add-icon:hover{
    opacity: 0.9;
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

.add-icon:active{
    opacity: 1;
    box-shadow: 0 0 0 0.2rem var(--tertiary-color);
}

#pop-up{
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 40rem;
    height: 22rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2px 10px var(--tertiary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.showPopUp{
    display: flex;
    animation: popUp 0.5s forwards;
    right: 50%;
}

@keyframes popUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidePopUp{
    display: none;
    animation: popDown 0.2s forwards;
    left: 100rem;
}

@keyframes popDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#pop-up *{
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
}

#pop-up > #notifyBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 0;
    height: 0;
    top: 2rem;
    right: 4.8rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

#pop-up > #notifyBtn::after {
    content: "\f1f6"; /* Default: bell-slash icon */
}

#pop-up > #notifyBtn:checked::after {
    content: "\f0f3"; /* Active: bell icon */
}


#pop-up *:focus{
    outline: none;
}

#pop-up > #inputTaskName,
#pop-up > #inputTaskDescription{
    width: 95%;
}

#pop-up > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pop-up > div > #priority{
    position: relative;
    right: 1rem;
}

#pop-up #closePopUpBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem 0.65rem;
    cursor: pointer;
}

#pop-up > div > #priority,
#pop-up #chooseProjectBtn,
#pop-up #addTaskBtn{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    align-self: center;
}

#pop-up > div > #priority:hover,
#pop-up #chooseProjectBtn:hover,
#pop-up #addTaskBtn:hover{
    background-color: var(--quaternary-light-color);
}

#pop-up #chooseProjectBtn::after{
    content: 'Project: ' attr(project);
    font-size: 0.9rem;
    width: auto;
    height: 1rem;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 15rem;
}

#pop-up > .date-time::before{
    content: 'Due Date: ';
    font-size: 1rem;
    font-weight: 400;
    align-self: center;
    position: relative;
    right: 1.3rem;
}

#pop-up > .date-time > #dateInput{
    width: 9rem;
}

#main-content{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content > .task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 100%;
    padding: 2rem 20rem;
}

#main-content > .task-list > p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
    width: 20rem;
    text-align: center;
}

#main-content > .task-list > .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    min-height: 4rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: background-color 0.3s;
    /* For scroll taskList animation*/
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5% cover 10%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

#main-content > .task-list > * > .task-complete{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -0.5rem;
    appearance: none;
    --webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
}

#main-content > .task-list > * > .task-complete:after{
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 1rem;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}

#main-content > .task-list > * > .task-complete:hover{
    background-color: lightgreen;
    opacity: 1;
}

#main-content > .task-list > * > .task-complete:checked::after{
    opacity: 1;
}

#main-content > .task-list > * > .task-title{
    width: 10rem;
    word-wrap: break-word;
}

#main-content > .task-list > * > .task-details{
    width: 15rem;
    word-wrap: break-word;
}

#main-content > .task-list > * > .task-date{
    width: 6rem;
    display: flex;
    justify-content: center;
}

#main-content > .task-list > * > .task-time{
    width: 3rem;
    display: flex;
    justify-content: center;
}

#main-content > .task-list > * > .task-priority{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#main-content > .task-list > * > .task-delete{
    cursor: pointer;
}

#main-content > .task-list > * > .task-edit{
    cursor: pointer;
}

#main-content > .task-list > .high-priority > .task-priority{
    background-color: red;
}

#main-content > .task-list > .medium-priority > .task-priority{
    background-color: rgba(255, 255, 0, 0.938);
}

#main-content > .task-list > .low-priority > .task-priority{
    background-color: lightgreen;
}

#main-content > .task-list > .append-task{
    position: inherit;
    margin-top: 3rem;
    width: 2rem;
    font-size: 1.5rem;
}

#main-content > .task-list > .append-task > #append-icon{
    position: inherit;
    transform: translate(0, 0);
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}

body > #project-window{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 25rem;
    padding: 2rem 20rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 5px var(--primary-dark-color);
    border-radius: 2rem;
    z-index: 110;
}

#project-window > #project-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 30rem;
    min-height: 20rem;
}

#project-window > p{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: var(--primary-color);
    font-size: 1.5rem;
}


#project-window > #project-list > .project-item{
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 0.2rem 1rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
}

#project-window > #project-list > .project-item:hover{
    background-color: var(--quinary-color);
    color: white;
    opacity: 1;
    cursor: pointer;
}

#project-window > #project-list .selected{
    background-color: var(--quaternary-color);
    color: white;
    border: var(--primary-color) 1px solid;
}

body > #project-window > #cancelProjectBtn{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border: none;
    outline: none;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

#project-prompt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25rem;
    height: 12rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    box-shadow: 0 2px 10px var(--tertiary-color);
    z-index: 120;
}

#project-prompt > p{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 1rem;
}

#project-prompt > input{
    width: 20rem;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

#project-prompt > #project-submit{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1rem;
}

#project-prompt > #project-submit:hover{
    opacity: 0.9;
}

#project-prompt > #close-project-prompt{
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    outline: none;
}

#project-prompt > #close-project-prompt:hover{
    opacity: 0.9;
}

#blur-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-2%, -2%);
    width: calc(100vw + 5rem);
    height: calc(100vh + 5rem);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.5s ease-in-out;
}

#progress-container{
    background-color: var(--secondary-color);
    border-radius: 4rem;
    margin: 2rem;
    padding: 2rem;
}

#progress-container > svg > g > path{
    fill: none;
    stroke: var(--quaternary-color);
    stroke-width: 2;
}

#progress-container > svg > g > .axis{
    stroke: var(--primary-color);
    stroke-width: 1;
}

#progress-container > svg > g > .axis > text{
    stroke: var(--primary-color);
    font-size: 0.8rem;
    font-weight: 100;
}

#progress-container > svg > g > .axis line{
    stroke: var(--primary-color);
    stroke-width: 0.5;
}

#progress-container > svg > g > .axis > path{
    stroke: var(--primary-color);
    stroke-width: 1;
    
}

#progress-container > .tooltip{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    z-index: 100;
    transition: all 0.3s;
    top: 0;
    left: 0;
}

#progress-container > svg > g > .data-point{
    fill: var(--primary-color);
    stroke: var(--primary-color);
    stroke-width: 1;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s;
}

#progress-container > svg > g > .data-point:hover{
    opacity: 1;
}

#graph-data-point-selector{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem 0 0 0;
    width: 1000px;
    height: 2rem;
}

#graph-data-point-selector > input {
    width: 0;
    height: 0;
    margin: 0 3rem;
    position: relative;
    z-index: -1;
}

#graph-data-point-selector > input::after {
    background-color: var(--tertiary-color);
    color: var(--quinary-color);
    width: 4rem;
    padding: 0.5rem;
    transform: translate(-2rem, -1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.3s;
    position: relative;
    z-index: 0;
}

#graph-data-point-selector > input:checked::after {
    background-color: var(--quaternary-color);
    color: var(--secondary-dark-color);
    opacity: 1;
    font-weight: 300;
}

#graph-data-point-selector > #seven-days::after {
    content: '7 days';
}

#graph-data-point-selector > #thirty-days::after {
    content: '30 days';
}

#graph-data-point-selector > #full-year::after {
    content: '1 year';
}

#quote-container{
    display: flex;
    align-items: start;
    justify-content: start;
    width: 50rem;
}

#quote-container > #quote{
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

#quote-container > #quote > #author{
    color: var(--secondary-color);
    opacity: 0.8;
    font-size: 1.4rem;
    font-weight: 100;
    margin: 0.5rem 0 0 4rem;
    text-align: start;
    display: block;
    font-style: italic;
}