@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --primary-color: var(--primary-light-color);
    --primary-dark-color: #1d1d1d;
    --primary-light-color: #EBF0F2;
    --secondary-color: var(--secondary-light-color);
    --secondary-dark-color: #EBF0F2;
    --secondary-light-color: #404040;
    --tertiary-color: var(--tertiary-light-color);
    --tertiary-light-color: #735646;
    --tertiary-dark-color: #A6916A;
    --quaternary-color: var(--quaternary-light-color);
    --quaternary-light-color: #8C7456;
    --quaternary-dark-color: #5E4B32;
    --quinary-color: var(--quinary-light-color);
    --quinary-light-color: #A6916A;
    --quinary-dark-color: #735646;
    --priority-value: 'Medium Priority';
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--secondary-color);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }

@supports (scrollbar-gutter: stable) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }
    ::-webkit-scrollbar-track {
        background: var(--secondary-color);
        border-radius: 10px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: var(--primary-color);
    overflow-x: hidden;
    scrollbar-gutter: stable auto;
}

header{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.5rem;
    position: sticky;
    top: 0;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > *{
    display: flex;
    align-items: center;
}

header > nav > .user-container{
    width: 40rem;
}

header > nav > .user-container > menu #menuBtn{
    display: block;
    position: relative;
    z-index: 4;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    font-family: 'Playwrite CU', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s;
    align-items: center;
}

header > nav > .user-container > .user {
    display: flex;
    z-index: 1;
    padding: 0.2rem;
    margin-left: 1.5rem;
    align-items: center;
    border-radius: 5rem;
    height: 2.5rem;
    overflow: hidden;
    padding-right: 1rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 1rem;
    background: transparent;
    color: var(--secondary-color);
}

header > nav > .user-container > .user > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    justify-content: center;
}

header > nav > .user-container > .sign-slider {
    visibility: hidden;
    position: relative;
    display: flex;
    left: -6rem;
    padding-left: 1rem;
    z-index: 0;
    border-radius: 5rem;
    width: 7rem;
    height: 2.5rem;
    background-color: var(--quaternary-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--quaternary-color);
    outline: none;
    border: none;
    font-size: 1rem;
}

header > nav > .user-container > .user:hover + .sign-slider,
header > nav > .user-container > .sign-slider:hover {
    visibility: visible;
    left: -2rem;
    animation: slideInSignOption 0.6s forwards;
}

@keyframes slideInSignOption {
    from {
        left: -6rem;
    }
    to {
        left: -2rem;
    }
}

header > nav > .user-container > .user:hover,
header > nav > .user-container > .user:has(+.sign-slider:hover){
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: 300;
}

header > nav > .user-container > .sign-slider > a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 300;
}

header > nav > .user-container > .sign-slider:hover{
    background-color: var(--quinary-color);
}


header > nav > .user-container > .sign-slider:hover > a{
    color: var(--tertiary-color);
}

header > nav > .settings{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
}

header > nav > .settings .notificationBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

header > nav > .settings .notificationBtn > span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: relative;
    bottom: 0.2rem;
    right: 0.2rem;
    font-size: xx-small;
    background-color: red;
    color: white;
}

header > nav > .settings .notificationBtn:hover{
    background-color: var(--quinary-color);
    color: var(--primary-color);
}

header > nav > .settings .notificationBtn:active{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

header > nav > .settings .notificationBtn:hover > span{
    background-color: var(--tertiary-color);
}

header > nav > .settings > #theme{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

header > nav > .settings > #theme:hover{
    background-color: var(--quaternary-color);
    color: white;
}

header > nav > .settings > #theme:active{
    background-color: var(--tertiary-color);
    color: white;
}

.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s;
}

#menu-window{
    display: none;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -20rem;
    width: 20rem;
    height: 100%;
    background-color: var(--secondary-color);
    transition: transform 0.3s;
    animation: slideInMenu 0.5s forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(20rem);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(20rem);
    }
    
}

#menu-window > #menuBtn{
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    animation: displayMenuBtn 0.8s ease-in-out;
}

@keyframes displayMenuBtn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.notification-window{
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 20rem;
    height: 100%;
    background-color: var(--secondary-color);
    transition: transform 0.3s;
    scrollbar-gutter: stable auto;
}

.add{
    animation: slideOut 0.5s forwards;
}

.remove{
    animation: slideIn 0.5s forwards;
}

.notification-window > .notificationClose{
    position: relative;
    top: 0.65rem;
    left: 15.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    animation: displayNotificationBtn 0.8s ease-in-out;
}

.notification-window > .notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    height: 100%;
    overflow-y: auto;
    margin-top: 2rem;
    border-top: 1px solid var(--tertiary-color); 
}

.notification-window > .notifications > .notification{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    height: 6rem;
}

.notification-window > .notifications > .notification > .notification-close{
    align-self: flex-start;
    padding: 0.1rem 0.2rem;
}

.notification-window > .notifications > .notification > .notification-close:hover{
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

#empty-case-window{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    height: 20rem;
    padding-top: 2rem;
    transition: ease-in-out 1s;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#empty-case-window #info-text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
}

.add-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: var(--primary-color);
    font-size: 3rem;
    background-color: var(--tertiary-color);
    cursor: pointer;
    transition: opacity 0.1s, box-shadow 0.3s;
    transition: ease-in-out 0.3s;
    opacity: 0.8;
}

.add-icon:hover{
    opacity: 0.9;
    box-shadow: 0 0 0 0.1rem var(--tertiary-color);
}

.add-icon:active{
    opacity: 1;
    box-shadow: 0 0 0 0.2rem var(--tertiary-color);
}

#pop-up{
    display: none;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 40rem;
    height: 22rem;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 2px 10px var(--tertiary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.showPopUp{
    display: flex;
    animation: popUp 0.5s forwards;
    right: 50%;
}

@keyframes popUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidePopUp{
    display: none;
    animation: popDown 0.2s forwards;
    left: 100rem;
}

@keyframes popDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#pop-up *{
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 0.2rem;
    margin: 0.5rem;
}

#pop-up *:focus{
    outline: none;
}

#pop-up > #inputTaskName,
#pop-up > #inputTaskDescription{
    width: 95%;
}

#pop-up > div{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#pop-up > div > #priority{
    position: relative;
    right: 1rem;
}

#pop-up #closePopUpBtn{
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 50%;
    padding: 0.5rem 0.65rem;
    cursor: pointer;
}

#pop-up > div > #priority,
#pop-up #chooseProjectBtn,
#pop-up #addTaskBtn{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

#pop-up > div > #priority:hover,
#pop-up #chooseProjectBtn:hover,
#pop-up #addTaskBtn:hover{
    background-color: var(--quaternary-light-color);
}

#main-content{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content > .task-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 100%;
    padding: 2rem 20rem;
}

#main-content > .task-list > .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
    min-height: 4rem;
    padding: 0.5rem 2rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    transition: background-color 0.3s;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 5% cover 10%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

#main-content > .task-list > * > .task-title{
    width: 10rem;
    word-wrap: break-word;
}

#main-content > .task-list > * > .task-details{
    width: 15rem;
    word-wrap: break-word;
}

#main-content > .task-list > * > .task-date{
    width: 6rem;
    display: flex;
    justify-content: center;
}

#main-content > .task-list > * > .task-time{
    width: 3rem;
    display: flex;
    justify-content: center;
}

#main-content > .task-list > * > .task-priority{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

#main-content > .task-list > * > .task-delete{
    cursor: pointer;
}

#main-content > .task-list > .high-priority > .task-priority{
    background-color: red;
}

#main-content > .task-list > .medium-priority > .task-priority{
    background-color: rgba(255, 255, 0, 0.938);
}

#main-content > .task-list > .low-priority > .task-priority{
    background-color: lightgreen;
}

#main-content > .task-list > .append-task > #append-icon{
    position: inherit;
    margin-top: 3rem;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
}