@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --primary-color: var(--primary-light-color);
    --primary-dark-color: #1d1d1d;
    --primary-light-color: #EBF0F2;
    --secondary-color: var(--secondary-light-color);
    --secondary-dark-color: #EBF0F2;
    --secondary-light-color: #404040;
    --tertiary-color: var(--tertiary-light-color);
    --tertiary-light-color: #735646;
    --tertiary-dark-color: #A6916A;
    --quaternary-color: var(--quaternary-light-color);
    --quaternary-light-color: #8C7456;
    --quaternary-dark-color: #5E4B32;
    --quinary-color: var(--quinary-light-color);
    --quinary-light-color: #A6916A;
    --quinary-dark-color: #735646;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: var(--primary-color);
}

header{
    background-color: transparent;
    color: var(--secondary-color);
    padding: 0.5rem;
}

header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > *{
    display: flex;
    align-items: center;
}

header > nav > .user-container{
    width: 40rem;
}

header > nav > .user-container button{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    font-family: 'Playwrite CU', sans-serif;
    font-weight: 400;
    transition: background-color 0.3s;
    align-items: center;
}

header > nav > .user-container > .user {
    display: flex;
    z-index: 1;
    padding: 0.2rem;
    margin-left: 1.5rem;
    align-items: center;
    border-radius: 5rem;
    height: 2.5rem;
    overflow: hidden;
    padding-right: 1rem;
    cursor: pointer
}

header > nav > .user-container > .user > img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    justify-content: center;
}

header > nav > .user-container > .sign-slider {
    visibility: hidden;
    position: relative;
    display: flex;
    left: -6rem;
    padding-left: 1rem;
    z-index: 0;
    border-radius: 5rem;
    width: 7rem;
    height: 2.5rem;
    background-color: var(--quaternary-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: var(--quaternary-color);
}

header > nav > .user-container > .user:hover + .sign-slider,
header > nav > .user-container > .sign-slider:hover {
    visibility: visible;
    left: -2rem;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        left: -6rem;
    }
    to {
        left: -2rem;
    }
}

header > nav > .user-container > .user:hover,
header > nav > .user-container > .user:has(+.sign-slider:hover){
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-weight: 300;
}

header > nav > .user-container > .sign-slider > a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 300;
}

header > nav > .user-container > .sign-slider:hover{
    background-color: var(--quinary-color);
}


header > nav > .user-container > .sign-slider:hover > a{
    color: var(--tertiary-color);
}